main>.container {
  padding: 60px 15px 0;
}

.bg {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: 300% 300%;
  background-image: linear-gradient(-45deg, yellow 0%, yellow 25%, #00e4d0 51%, #ff357f 100%);
  -webkit-animation: AnimateBG 20s ease infinite;
          animation: AnimateBG 20s ease infinite;
}

@-webkit-keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes AnimateBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-navbar{
  background: linear-gradient(120deg, #00e4d0, #5983e8);
  border-bottom:  1.5px solid green;
}

.vertical-line{
  border-left:  1.5px solid green;
  border-left-style: ridge;
}

.brand-logo {
  height: 38px;
}
.brand-logo > img {
  height: 100%;
  width: 100%;
  border-radius: 15px;
}

.profile-avatar-novbar{
  height: 38px;
}

.textarea-add{
  margin-bottom: 1rem !important;
  padding-right: 5rem !important
}


.tag-list .btn{
  margin:2px;
 }
.tag-list .badge {
  font-size:10px;
}

.best-members-list .btn{
  margin:2px;
 }
.best-members-list .badge {
  font-size:10px;
}

.login-navbar{
  margin-right: 10px;
}
.login-navbar:hover{
  margin: -1px;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.signup-navbar:hover{
  margin: -1px;
  border: 1px solid black;
  border-radius: 5px;
}

.question {
  
  height: 200px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 1rem !important;
  padding-right: 3rem !important;
}

.question-avatar {
  height: 100px;
  width: 100px;
}

.question-avatar>img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.navbar-avatar {
  height: 40px;
  width: 40px;
  object-fit: cover;
}

.question-text {
  margin-bottom: 3%;
}

.answer{
  height: auto;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 1rem !important;
  padding-right: 3rem !important;
}

.like-btn {
  width: 30px;
	height: 30px;
	margin: 0 auto;
	border-radius: 50%;
	color: rgb(0, 6, 93);
	background-color:rgba(38, 166, 153, 0);
	border-color: rgb(0, 0, 0);
	border-width: 1px;
	font-size: 15px;
}

.like-btn:focus {
  width: 30px;
	height: 30px;
	margin: 0 auto;
	border-radius: 50%;
	color: rgb(43, 83, 169);
	background-color:rgba(38, 166, 153, 0);
	border-color: rgb(123, 20, 134);
	border-width: 1px;
	font-size: 15px;
}

.dislike-btn {
  width: 30px;
	height: 30px;
	margin: 0 auto;
	border-radius: 50%;
	color: rgb(93, 0, 28);
	background-color:rgba(38, 166, 153, 0);
	border-color: rgb(0, 0, 0);
	border-width: 1px;
	font-size: 15px;
}

.dislike-btn:focus {
  width: 30px;
	height: 30px;
	margin: 0 auto;
	border-radius: 50%;
	color: rgb(197, 75, 136);
	background-color:rgba(38, 166, 153, 0);
	border-color: rgb(123, 20, 134);
	border-width: 1px;
	font-size: 15px;
}