{% extends 'inc/base.html' %}

{% block content_right %}

  <h1 class="mt-5">Add new question</h1>
  <div class="row inpAns">
    <div class="textarea-add">
      <label for="questionTitleArea" class="form-label">Title</label>
      <textarea placeholder="How to generate website?" class="form-control" id="questionTitleArea"
        rows="1"></textarea>
    </div>
    <div class="textarea-add">
      <label for="questionTextArea" class="form-label">Text</label>
      <textarea placeholder="Have no idea about it..." class="form-control" id="questionTextArea"
        rows="5"></textarea>
    </div>
    <div class="textarea-add">
      <label for="questionTagsArea" class="form-label">Tags</label>
      <textarea placeholder="tag1, tag2, tag3" class="form-control" id="questionTagsArea"
        rows="1"></textarea>
    </div>
    <button type="submit" class="btn btn-primary col-3 ms-5 mb-5 btn-answer">Generate Ask!</button>
  </div>

{% endblock %}