{% extends 'inc/base.html' %}

{% block content_left %}
  <div class="col-xl-9 mb-5">
    <h1 class="text-white my-4">Log In</h1>
    <div class="card" style="border-radius: 15px;">

      <form action="{%url 'login'%}?next={{ request.GET.next }}" method="post">
        {% csrf_token %}
        <div class="card-body">
          
          {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
          {% endif %}

          {% for field in form %}
          <hr class="mx-n3">
          <div class="row align-items-center pt-4 pb-3">
            <div class="col-md-3 ps-5">
              <h6 class="mb-0">{{ field.label }}</h6>
            </div>
            <div class="col-md-9 pe-5">
              <input type={{ field.field.widget.input_type }} name={{ field.name }} class="form-control form-control-lg" />
              {{ field.errors }}
            </div>
          </div>
          {% endfor %}

          <hr class="mx-n3">
          <div class="px-5 py-4">
            <button type="submit" class="btn btn-primary btn-lg">Log in!</button>
            <a class="ms-5" href="{%url 'signup'%}">Or SignUp</a>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}