{% extends 'inc/base.html' %}

{% block content_left %}

  <h2 class="mt-5">{{ question.title}}</h2>
  {% include 'inc/items/question-item.html' %}

  <div class="row me-4">
    <h2 class="mt-4 mb-3">Answers</h2>

    <!-- Answers -->

    {% for answer in page_obj %}
      {% include 'inc/items/answer-item.html' %}
    {% endfor %}

    <!-- Answers -->
    {% include 'inc/paginator.html' %}

  </div>

  <div class="row inpAns">
    <div class="mb-3">
      <label for="questionTextArea" class="form-label">Your answer</label>
      <textarea placeholder="Enter your answer here" class="form-control" id="questionTextArea"
        rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary col-2 mb-5 btn-answer">Answer</button>
  </div>

{% endblock %}